.keys {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/concert-bg.jpg");
  background-position: center center;
  background-size: cover;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}