body {
  font-size: 16px;
}

.keys {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/concert-bg.jpg");
  background-position: center center;
  background-size: cover;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.key {
  width: 80px;
  background: rgba(0, 0, 0, .8);
  padding: 1.5rem;
  color: orange;
  margin: 0 .6rem;
  border-radius: .5rem;
  border: 3px solid #000;
  font-size: .8rem;
  transition: all .05s linear;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.key kbd {
  font-size: 2rem;
  color: #f7f7f7;
}

.pressed {
  border: 3px solid #f7f7f7;
  transform: scale(1.1);
}